/* 
author: Miya_yang
time:2018.10.11
*/

/* 公共样式 */
input,
select,
button {
	outline: none;
	padding: 0;
	margin: 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	outline: none;
}

html,
body {
	min-height: 100%;
	padding: 0px;
	margin: 0px;
	background: #091538 url(../images/bg.png) center 80px no-repeat;
	background-size: 100% auto;
	position: relative;
	font-family: Helvetica;
	font-size: 14px;
	color: #fff;
}

/* container */
.container {
	width: 1180px;
	margin: 0 auto;
	display: table;
}

/* header */
.header {
	width: 100%;
	float: left;
	height: 80px;
}

.logo,
.logo img {
	width: 212px;
	float: left;
	height: 50px;
}

.logo img {
	padding: 15px 0;
}

.quicklink {
	float: right;
	font-size: 16px;
	padding: 21px 0;
}

.quicklink span.play {
	float: left;
	line-height: 36px;
	margin-right: 16px;
	color: #c4d0f4;
	text-decoration: unset;
	cursor: pointer;
}
.quicklink span.play:hover{
	color: #fff;
}
.quicklink button {
	width: 72px;
	height: 36px;
	background: #153ba4;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.quicklink button:hover {
	color: #c4d0f4;
}
.quicklink .loginImg {
	width: 40px;
	height: 40px;
}

.personalInformation {
	width: 360px;
	height: 140px;
	position: absolute;
	z-index: 3;
	background: rgb(20, 26, 52);
	border-radius: 4px;
	top: 65px;
	margin-left: 840px;
}

.personalInformation span {
	width: calc(100% - 40px);
	display: block;
	line-height: 40px;
	height: 60px;
	margin: 0;
	padding: 20px;
}

.personalInformation span img {
	float: left;
	padding-right: 10px;
}

.personalInformation input {
	width: 100%;
	line-height: 40px;
	color: #fff;
	text-align: center;
	border: none;
	background: #202643;
	margin-bottom: 0;
	font-size: 16px;
	cursor: pointer;
}
.personalInformation input:hover{
	color:#c4d0f4;
	background: #3a4268;
	cursor: pointer;
}

/* playMain */
.playMain {
	width: 660px;
	padding: 73px 260px 26px 260px;
}

.bets {
	width: 390px;
	float: left;
	margin: 0 30px 27px 0;
}

.bets h3,
.payout h3 {
	font-size: 14px;
	color: #5efaf8;
	font-weight: bold;
	line-height: 24px;
	padding-left: 34px;
	margin: 49px 0 0 0;
	background: url(../images/betamounticon.png) left center no-repeat;
	background-size: 24px auto;
}

.bets ul {
	width: 390px;
	float: left;
	background: rgb(28, 41, 79, .9);
	border-radius: 4px;
	margin-top: 5px;
}

.bets ul li {
	width: 36px;
	float: left;
	height: 32px;
	margin-left: 10px;
	text-align: center;
	margin: 4px;
	line-height: 32px;
	color: #4ba3de;
	cursor: pointer;
}

.bets ul li:nth-child(3) {
	height: 18px;
	margin-top: 10px;
	line-height: 20px;
	border-right: 1px solid #0f1b3e;
	border-left: 1px solid #0f1b3e;
}

.bets ul li:first-child {
	width: 205px;
	background: rgb(62, 79, 127, .6) url(../images/logo-input.png) 10px center no-repeat;
	border-radius: 4px;
	border: none;
	color: #fff;
	padding-left: 40px;
	font-size: 16px;
	cursor: unset;
}

.bets ul li input {
	width: 150px;
	height: 32px;
	float: left;
	border: none;
	text-align: left;
	background: none;
	color: #fff;
}

.bets ul li input::placeholder {
	color: #fff;
}

.bets ul li span {
	color: #a3cae5;
	float: left;
	font-size: 14px;
}

.bets ul li:nth-child(3).current {
	border-right: 1px solid #1c294f;
	border-left: 1px solid #1c294f;
	height: 32px;
	margin-top: 0;
	margin: 4px;
	line-height: 32px;
}

.current {
	background: rgb(62, 79, 127, .6);
	border-radius: 4px;
}

.payout {
	width: 240px;
	float: left;
}

.payout ul {
	width: 240px;
	float: left;
	padding: 0;
	background: rgb(28, 41, 79, .9);
	border-radius: 4px;
	margin-top: 5px;
}

.payout ul li {
	float: left;
	line-height: 40px;
	padding-left: 10px;
}

.payout ul li:first-child {
	width: 140px;
	background: url(../images/logo-input.png) 10px center no-repeat;
	padding-left: 40px;
}

.payout ul li:nth-child(2) {
	padding: 0;
	width: 60px;
}

.odds {
	width: 100%;
	height: 140px;
	float: left;
	display: flex;
	text-align: center;
	background: rgb(28, 41, 79, .9);
	border-radius: 4px;
}

.odds dl {
	flex: 3;
	margin: 18px 0;
}

.odds dl:nth-child(1) dd span:last-child {
	padding-left: 10px;
}

.odds dl dt {
	color: #5efaf8;
}

.odds dl dd {
	font-family: 'Helvetica-Bold';
	color: #5efaf8;
	font-size: 36px;
	color: #fff;
	margin: 10px 0 0 0;
	line-height: 80px;
	border-right: 1px solid #0f1b3e;
}

.odds dl:nth-child(2) dd:nth-child(2) span:nth-child(1) {
	font-size: 36px;
}

.odds dl:nth-child(2) dd:nth-child(2) span:nth-child(2) {
	font-size: 24px;
}

.loginButton,
.rollButton {
	float: left;
	width: 180px;
	height: 56px;
	padding: 80px 0 70px 240px;
}

.loginButton button,
.rollButton button {
	width: 180px;
	height: 56px;
	border: none;
	border-radius: 28px;
	background: #153ba4;
	font-family: 'Helvetica-Bold';
	font-size: 18px;
	color: #fff;
	/* box-shadow: 0px 0px 100px 20px rgb(20, 59, 166,.9); */
}

/* twinkle */
@keyframes fade {
	0% {
		box-shadow: 0px 0px 0px 0px rgb(20, 59, 166, .5);
	}

	20% {
		box-shadow: 0px 0px 20px 2px rgb(20, 59, 166, .9);
	}

	40% {
		box-shadow: 0px 0px 40px 4px rgb(20, 59, 166, .9);
	}

	60% {
		box-shadow: 0px 0px 60px 6px rgb(20, 59, 166, .9);
	}

	80% {
		box-shadow: 0px 0px 80px 8px rgb(20, 59, 166, .9);
	}

	100% {
		box-shadow: 0px 0px 100px 10px rgb(20, 59, 166, .9);
	}
}

@-webkit-keyframes fade {
	0% {
		box-shadow: 0px 0px 0px 0px rgb(20, 59, 166, .5);
	}

	20% {
		box-shadow: 0px 0px 20px 2px rgb(20, 59, 166, .9);
	}

	40% {
		box-shadow: 0px 0px 40px 4px rgb(20, 59, 166, .9);
	}

	60% {
		box-shadow: 0px 0px 60px 6px rgb(20, 59, 166, .9);
	}

	80% {
		box-shadow: 0px 0px 80px 8px rgb(20, 59, 166, .9);
	}

	100% {
		box-shadow: 0px 0px 100px 10px rgb(20, 59, 166, .9);
	}
}

.loginButton button,
.rollButton button {
	transition: all 1s linear 0s;
	animation: fade 3s infinite running;
	-webkit-animation: fade 3s infinite running;
}
.rollButton{
	width: 100%;
}
.rollButton button{
	float: left;
}
/* Account Balance */
.rollButton ul {
	width: 220px;
	height: 50px;
	float: left;
	padding: 0;
	background: rgb(28, 41, 79, .9);
	border-radius: 4px;
	margin: 5px 0 0 70px;
}

.rollButton ul li {
	float: left;
	line-height: 50px;
	padding-left: 10px;
}

.rollButton ul li:first-child {
	width: 90px;
	background: url(../images/balance-logo.png) 10px center no-repeat;
	padding-left: 50px;
}

.rollButton ul li:nth-child(2) {
	padding: 0;
	width: 60px;
}

/* gameList */
.gameList {
	width: 1000px;
	float: left;
	padding: 0 90px;
}

/* TAB */
a,
a:active,
a:focus {
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: 0;
}

a:active,
a:focus {
	outline: expression(hideFocus='true');
}

p {
	margin-bottom: 20px;
}

#wrapper {
	width: 1000px;
}


#tab {
	background: #0a1535;
}

#tabs-1,
#tabs-2 {
	width: calc(100% - 40px);
	position: absolute;
}

#tab ul {
	margin-left: 346px;
}

#tabs,
#tab {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 40px;
}

#tabs li,
#tab li {
	float: left;
	margin-right: 2px;
	font-size: 18px;
}

#tabs li a,
#tab li a {
	display: block;
	padding-bottom: 15px;
	margin: 30px 35px 12px 35px;
	text-decoration: none;
	color: #93a3d2;
}

#tabs_container {
	padding: 20px;
	overflow: hidden;
	position: relative;
	background: #15244e;
}

/* #tabs_container div {
	margin-right: 40px;
} */

.transition {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.make_transist {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.hidescale {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
}

.showscale {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hideleft {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.showleft {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hidescaleup {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.showscaleup {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hideflip {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transform: rotatey(-90deg) scale(1.1);
	-moz-transform: rotatey(-90deg) scale(1.1);
	-o-transform: rotatey(-90deg) scale(1.1);
	-ms-transform: rotatey(-90deg) scale(1.1);
	transform: rotatey(-90deg) scale(1.1);

	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.showflip {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;

	-webkit-transform: rotatey(0deg) scale(1);
	-moz-transform: rotatey(0deg) scale(1);
	-o-transform: rotatey(0deg) scale(1);
	-ms-transform: rotatey(0deg) scale(1);
	transform: rotatey(0deg) scale(1);

	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.tabulous_active {
	background: #0a1535 !important;
	color: #fff !important;
	border-bottom: 2px solid #fff !important;
}

.tabulousclear {
	display: block;
	clear: both;
}

table {
	width: 100%;
	color: #fff;
	margin-bottom: 20px;
	border-collapse: collapse;
}

table thead tr th {
	font-weight: unset;
	font-size: 16px;
}

table tr {
	border-bottom: 1px solid #060a14;
}

table th,
table td {
	padding: 15px 10px;
	text-align: center;
}

table tr:nth-child(even) {
	background: #1c2e60;
}

/* table tr:hover {
	background: #FFF6BF;
} */

table thead tr,
table thead tr:hover {
	background: none !important;
}

/* progress */
.progress {
	width: 100%;
	float: left;
	padding: 90px 0 0px 0;
}

.scroll {
	width: 100%;
	height: 16px;
	background: #f20765;
	border-radius: 8px;
	position: relative;
}

.bar {
	width: 32px;
	height: 32px;
	background: url(../images/moveicon.png) left center no-repeat;
	position: absolute;
	z-index: 2;
	top: -7px;
	left: -7px;
	cursor: pointer;
}

.mask {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	background: #d3f709;
	box-shadow: 0px 0px 15px 1px rgb(211, 247, 9, .5);
	width: 0;
	height: 16px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.progress ul {
	width: 100%;
	display: flex;
	position: relative;
}

.progress ul li {
	float: left;
	color: #fff;
	flex: 5;
	padding-top: 20px;
}

.progress ul li:nth-child(2) {
	padding-left: 80px;
}

.progress ul li:nth-child(3) {
	padding-left: 70px;
}

.progress ul li:nth-child(4) {
	padding-left: 70px;
}

.progress ul li:last-child {
	text-align: right;
}

.progress p {
	width: 68px;
	height: 40px;
	position: absolute;
	z-index: 3;
	top: -75px;
	left: -26px;
	text-align: center;
	line-height: 34px;
	background: url(../images/frame.png) center top no-repeat;
}

/* login */
.login {
	width: 500px;
	height: 680px;
	position: absolute;
	z-index: 10;
	top: -200px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: #273458;
	border-radius: 4px;
}

.close {
	width: 16px;
	height: 16px;
	float: right;
	margin: 20px 20px 0 0;
}

.loginLogo {
	width: 90px;
	height: 90px;
	margin: 0 auto;
	margin-top: 50px;
}

.loginLogo img {
	width: 90px;
	height: 90px;
}

.login h1 {
	font-family: 'Helvetica-Bold';
	font-size: 24px;
	width: 100%;
	text-align: center;
}

#loginTab {
	margin-top: 55px;
}

#loginTab ul {
	border-bottom: #52659a 1px solid;
	height: 42px;
}

#loginTab ul li {
	line-height: 42px;
	width: 50%;
	float: left;
	text-align: center;
	font-size: 16px;
}

#loginTab ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
}

#loginTab ul li .tabulous_active {
	text-decoration: none !important;
	border-bottom: none !important;
	background: #455583 !important;
}

#loginTab #tabs_container {
	width: 320px;
	background: none;
	padding: 30px 0 0px 90px;
	overflow: unset;
}

.loginTab_container {
	width: 320px;
	padding: 30px 0 0px 90px;
	background: none;
}

#loginTab-1,
#loginTab-2 {
	width: 100%;
	position: absolute;
}

#loginTab-1 ul,
#loginTab-2 ul {
	padding-bottom: 90px;
	border-bottom: none;
}

#loginTab-1 ul li,
#loginTab-2 ul li {
	width: 320px;
	margin-top: 30px;
}

#loginTab-1 ul li:nth-child(2),
#loginTab-2 ul li:nth-child(2) {
	margin-top: 25px;
}

#loginTab-1 ul li input,
#loginTab-2 ul li input {
	height: 34px;
	line-height: 34px;
	width: calc(100% - 12px);
	background: none;
	border: 1px solid #6c89d6;
	border-radius: 4px;
	padding-left: 10px;
	color: #788fcc;
}

#loginTab-1 ul li input::placeholder,
#loginTab-2 ul li input::placeholder {
	color: #788fcc;
}

#loginTab-1 ul li:nth-child(1) input:nth-child(1) {
	width: 189px;
	float: left;
	border-right: none;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

#loginTab-1 ul li:nth-child(1) input:nth-child(2) {
	width: 120px;
	height: 36px;
	position: absolute;
	z-index: 1;
	float: left;
	border: none;
	left: 200px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	background: #455583;
}

#loginTab-1 ul li:nth-child(1) input:nth-child(3) {
	width: 120px;
	height: 36px;
	position: absolute;
	z-index: 2;
	left: 200px;
	opacity: 0;
}

#loginTab-2 ul li:nth-child(1) input:nth-child(1) {
	width: 320px;
	height: 34px;
	line-height: 34px;
	width: calc(100% - 12px);
	background: none;
	border: 1px solid #6c89d6;
	border-radius: 4px;
	padding-left: 10px;
	color: #788fcc;
}

#loginTab-1 button,
#loginTab-2 button {
	background: #153ba4;
	border: 1px solid #153ba4;
	width: 162px;
	height: 42px;
	color: #fff;
	font-size: 16px;
	border-radius: 4px;
	margin: 88px 0 0 79px;
}

#loginTab-1 p,
#loginTab-2 p {
	width: 100%;
	white-space: nowrap;
	color: #788fcc;
	margin-top: 52px;
	text-align: center;
	margin-left: -32px;
}

#loginTab-1 p a,
#loginTab-2 p a {
	color: #d7dff4;
}

/* transaction */
.transaction {
	width: 700px;
	height: 600px;
	background: #273458;
	z-index: 10;
	border-radius: 4px;
	position: absolute;
	top: -200px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.transaction h1 {
	font-size: 18px;
	margin: 30px 0 0 30px;
	font-family: 'Helvetica-Bold';
	font-weight: normal;
}

.transactionMain {
	width: 600px;
	height: 400px;
	background: #324065;
	border-radius: 4px;
	margin: 20px 50px;
}

.transactionMain h3 {
	width: 560px;
	padding: 20px 20px 10px 20px;
	font-size: 16px;
	font-weight: normal;
	border-bottom: 1px solid #2d3a5c;
}

.transactionMain table {
	border-collapse: collapse;
	width: 520px;
	margin: 0 40px;
}

.transactionMain table tr {
	border: none;
	background: none;
}

.transactionMain table tr td {
	padding: 12px 0;
	text-align: left;
}

.transactionMain table tr:first-child td {
	padding: 0px 0 12px 0;
}

.transactionMain table tr td:first-child {
	color: #9dacd2;
}

.transactionMain table tr td input {
	background: #273458;
	border: 1px solid #3b4d7b;
	height: 24px;
	width: 218px;
	padding-left: 10px;
	color: #fff;
}

.transactionMain table tr td input::placeholder {
	color: #505f88;
}

.transactionMain table tr td span {
	position: absolute;
	z-index: 2;
	margin-left: -40px;
	color: #9dacd3;
	line-height: 26px;
}

.transaction ul {
	width: auto;
	margin: 40px 0 0 130px;
}

.transaction ul li:nth-child(1) button {
	width: 180px;
	height: 50px;
	float: left;
	border: none;
	background: #324065;
	border-radius: 4px;
	font-size: 16px;
	color: #aebbdf;
}

.transaction ul li:nth-child(2) button {
	width: 180px;
	height: 50px;
	float: left;
	border: none;
	background: #153ba4;
	border-radius: 4px;
	font-size: 16px;
	color: #fff;
	margin-left: 80px;
}

/* playPopup */
.playPopup {
	width: 540px;
	height: 640px;
	background: #263457;
	border-radius: 4px;
	position: absolute;
	z-index: 5;
	top: -200px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.playPopup h1 {
	width: 100%;
	text-align: center;
	font-size: 24px;
	font-family: 'Helvetica-Bold';
	font-weight: unset;
	margin: 50px 0 40px 0;
}

.playPopup p {
	width: 440px;
	text-align: justify;
	padding: 0 50px;
	line-height: 25px;
	font-size: 14px;
	margin: 10px 0 0 0;
}